<%-include('header')%>
    <div class="container">
      <div><h3>Add New Password</h3></div>
     <form action="/addnewpassword" method="POST">
      <div class="col-md-4">
        <%if(success !=''){ %>
          <%= success %>

          <% } %>
      <div class="form-group">
            <label for="passwordDetails">Select Password:</label><br/>
          <select class="control-form" name="password_category">
            <option value="">Choose Password Category</option>
            <%if( records.length>0){
              records.forEach(function(row){
              %>
            <option value="<%=row.password_category%>"><%=row.password_category%></option> 
          <% }) }%>
          </select>
      </div>
      <div class="form-group">
            
        <label for="passwordDetails">Project Name:</label><br/>
        <input type="textbox" class="form-control"name="project_name" placeholder="Enter Your Project Name">
    </div>
      <div class="form-group">
            
        <label for="passwordDetails">Passwpord Details:</label><br/>
        <textarea class="form-control" id="editor1" name="password_details" placeholder="Enter Your password Details"></textarea>
    </div>
      <input type="submit" value="Add_Password" class="btn btn-primary"/>
      <div>
        <span><a href="/viewallpassword">View all Password List</a>
      </div>
     
      </div></span>
     
           
    </form>
     
          </div>
          <script>
            CKEDITOR.replace( 'editor1' );
    </script>
<%-include('footer')%>

